.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-cont {
  width: 80vw;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(30, 3.33%);
  background-color: #272727;
  padding: 5px;
}

.grid-item {
  width: 1fr;
  height: 1fr;
  border: 1px solid rgba(0, 0, 0, 1);
}
.highlighted-grid-item {
  width: 1fr;
  height: 1fr;
  border: 1px solid rgb(255, 255, 255);
}

.box {
  flex: 1;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding-left: 10px;
}
.textBox {
  flex: 3;
  border: 1px solid #ffffff;
  width: 150px;
}
